<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../css/img.css"/>
    <title>操作</title>
    <style>

        .selectStyle {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: 0;
            vertical-align: middle;
            font-size: 13px;
            height: 31px;
            line-height: 1.42857;
            padding: 4px;
        }
    </style>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-config-add">
        <input type="hidden" class="input-text" value="0" placeholder="" id="id" name="id">
        <input type="hidden" class="input-text" value="1" placeholder="" id="status" name="status">
        <input type="hidden" class="input-text" value="0" placeholder="" id="classifyCode" name="classifyCode">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="input-text valid" name="code" id="code"></select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="name" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>固定值:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="value" name="value">
            </div>
        </div>
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">最小值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="min" name="min">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">最大值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="max" name="max">
            </div>
        </div>-->
        <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2">校区：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
        <!--<input type="text" class="input-text" value="" placeholder="" id="organizationId" name="organizationId">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2">分类名称：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
        <!--<input type="text" class="input-text" value="" placeholder="" id="classifyCode" name="classifyCode">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2">分类：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
        <!--<input type="text" class="input-text" value="" placeholder="" id="parentCode" name="parentCode">-->
        <!--</div>-->
        <!--</div>-->

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>
                    保存并提交
                </button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer /作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
<script type="text/javascript" src="../js/commonTools.js"></script>
<script type="text/javascript">
    /*
     * //初始化富文本（回显）
     * var ue = UE.getEditor('editor');
     */
    function getQueryString(name) {//取URL参数  你要得到userid 就传userid
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    var configId = getQueryString("id");
    $(function () {
//获取html标签内容复制到对应文本
        if (configId != null && configId != 0) {
            var bannerStr = "";
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/fansi/config/operation/" + configId,
                async: false,
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    // console.log(data);
                    if (data == "logout") {
                        top.location.href = "/fansi?v=0.01";
                        return;
                    }
                    if (data.code == "200") {
                        var domain = data.result.domain;
                        //
                        $('#id').val(domain.id);
                        //名称 键
                        $('#name').val(domain.name);
                        //值
                        $('#value').val(domain.value);
                        //唯一分类
                        $('#code').val(domain.code);
                        //校区
                    } else {
                        layer.alert("获取信息失败,请联系管理员！");
                    }
                }
            });
        }

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


        //表单验证
        $("#form-config-add").validate({
            rules: {
                code: {
                    required: true//必填
                },
                name: {
                    required: true
                },
                value: {
                    required: true
                }
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                //save_submit();
            }
        });
    });

    //保存提交表单
    function save_submit() {
        let load = layer.load(1, {
            shade: [0.1, '#fff']
        });
        $("#classifyCode").val($("#code   option:selected").text());
        //触发 验证
        var valid = $("#form-config-add").valid();
        if (!valid) {
            layer.close(load);
            layer.alert("内容有误,请检查填写内容");
            return false;
        }
        /*##############Powered By Marklin  2019-02-27 后台设置校区固定值增加正整数校验##############*/
        if (isNotEmpty($("#value").val())) {
            let format = /^[0-9]*[1-9][0-9]*$/;
            var result = checkGlobalRegular(format, $("#value").val());
            if (result == false) {
                layer.msg('固定值请输入正整数!', {icon: 5});
                return false;
            }
        }

        var form = document.getElementById('form-config-add');
        var formdata = new FormData(form);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/fansi/config/saveOrUpdate",
            data: formdata,
            cache: false,
            async: false,
            contentType: false,
            processData: false,
            success: function (result) {
                layer.close(load);
                // console.log(result);//打印服务端返回的数据(调试用)
                if (result == "logout") {
                    top.location.href = "/fansi?v=0.01";
                    return false;
                }
                if (result.code == 200) {
                    layer.alert("保存提交成功", function () {
                        parent.searchList();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });

                } else {
                    layer.alert(result.message);
                }
            }
        });
    }

    //创建时间格式化显示
    function crtTimeFtt(value) {
        var crtTime = new Date(value);
        return dateFtt("yyyy-MM-dd hh:mm:ss", crtTime);//直接调用公共JS里面的时间类处理的办法
    }

    function dateFtt(fmt, date) {
        var o = {
            "M+": date.getMonth() + 1,                 //月份
            "d+": date.getDate(),                    //日
            "h+": date.getHours(),                   //小时
            "m+": date.getMinutes(),                 //分
            "s+": date.getSeconds(),                 //秒
            "q+": Math.floor((date.getMonth() + 3) / 3), //季度
            "S": date.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    //关闭
    function removeIframe() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
</body>
</html>